{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    <link rel="icon" href="https://lh3.googleusercontent.com/proxy/5T1P0WkTEzYCJe0JMA28wx8flS8YX_S-7xjY17vB7tgiz7a4Lx1ln85zYJEkn4ZgL06VV6kLWBIoF5bSRobA9ZihI0hmNgc9cvIdw0IWc36Lsavpx-nblQ">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class='alert alert-danger text-center alert-dismissible fade show mb-0' role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class='alert alert-{{ message.tags }} text-center alert-dismissible fade show mb-0' role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <nav class="navbar navbar-expand-md navbar-dark text-white pt-3 pb-1">
        <a href="{% url 'blog-home' %}" class='navbar-brand'>Blog App</a>
        <button class='navbar-toggler ml-auto' type='button' data-toggle='collapse' data-target='#navbarLinks'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarLinks'>
            {% if user.is_authenticated %}
                <ul class='navbar-nav mr-auto'>
                    <li class='nav-item mx-auto'>
                        <a href="{% url 'blog-home' %}" class='nav-link {{home}}'>Home</a>
                    </li>
                    <li class='nav-item mx-auto'>
                        <a href="{% url 'user-posts' user.username %}" class='nav-link {{profile}}'>Profile</a>
                    </li>
                    <li class='nav-item mx-auto'>
                        <a href="{% url 'create-post' %}" class='nav-link {{create}}'>Create Post</a>
                    </li>
                </ul>
            {% endif %}
            <ul class='navbar-nav ml-auto'>
                {% if user.is_authenticated %}
                    <li class='nav-item mx-auto'>
                        <a href="{% url 'saved-posts' %}" class='nav-link {{saved}}'>Saved Posts</a>
                    </li>
                    <li class='nav-item mx-auto'>
                        <a href="{% url 'logout' %}" class='nav-link {{logout}}'>Logout</a>
                    </li>
                {% else %}
                    <li class='nav-item mx-auto'>
                        <a href="{% url 'login' %}" class='nav-link {{login}}'>Login</a>
                    </li>
                    <li class='nav-item mx-auto'>
                        <a href="{% url 'register' %}" class='nav-link {{register}}'>Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <hr class='nav-hr'>
    <main>
        {% block content %} {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src='{% static "blog/custom.js" %}'></script>
    <script src='{% static "blog/main.js" %}'></script>
</body>
</html>
