{% extends 'blog/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
    <h3 class='text-white text-center mt-5 p-2'>Reset Password</h3>
    <form method="POST">
        {% csrf_token %}
        <div class='form-group mx-auto text-white password-reset-form'>
            {{ form|crispy }}
            <button type='submit' class='btn btn-primary mx-auto publish-btn mt-4 px-4'>Request Password Reset</button>
            <br>
        </div>
    </form>
    <div class='text-center mb-3'>
        <a href="{% url 'login' %}" class='text-white'>Return To Login Page</a>
    </div>
{% endblock %}
