{% extends 'blog/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class='register-block'>
    <h2 class='register-title'>Register</h2>
    <form method="POST" class='register-form'>
        {% csrf_token %}
        <div class='form-field-container'>
            <p class='form-label'>First Name:</p>
            <input class='register-field first-name' type="text" name="first_name" placeholder="Enter first name here..." autocomplete='off'>
        </div>
        <div class='form-field-container'>
            <p class='form-label'>Last Name:</p>
            <input class='register-field last-name' type="text" name="last_name" placeholder="Enter last name here..." autocomplete='off'>
        </div>
        <div class='form-field-container'>
            <p class='form-label'>Username:</p>
            <input class='register-field username' type="text" name="username" placeholder="Enter username here..." autocomplete='off'>
        </div>
        <div class='form-field-container field-hidden'>
            <p class='form-label'>Email:</p>
            <input class='register-field email' type="text" name="email" placeholder="Enter email here..." autocomplete='off'>
        </div>
        <div class='form-field-container field-hidden'>
            <p class='form-label'>Password:</p>
            <input class='register-field password' type="password" name="password" placeholder="Enter password here..." autocomplete='off'>
        </div>
        <div class='form-field-container field-hidden'>
            <p class='form-label'>Confirm Password:</p>
            <input class='register-field password-confirm' type="password" name="password_confirm" placeholder="Enter password again..." autocomplete='off'>
        </div>
        <button class='register-btn bg-primary' type="submit">Register</button>
    </form>
</div>
<a class='register-link d-block w-auto mx-auto text-center mb-5' href="/login">Return To Login</a>
{% endblock %}
